<%= render 'users/infonew', book: @book, user: @user %>

<h1>Users</h1>
<table>
  <% @users.each_with_index do |user,i| %>
  <% if i < 1 %>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= link_to "Show", users_show_path(user.id) %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>