
<h1>Books</h1>
<table>
<% @books.each_with_index do |book,i| %>
  <% if i < 1 %>
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
  <% end %>
    <tbody>
  	  <tr>
  	    <td><%= link_to book.title, book_path(book), class: "pull-right" %></td>
  	    <td><%= book.body %></td>
  	  </tr>
    </tbody>
<% end %>
  </table>